################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/venv
/MNIST/raw
/.vs
/.ipynb_checkpoints
/.idea
